.env
*.code-workspace

# -----------------------------
# OS-specific
# -----------------------------
.DS_Store
Thumbs.db
*.lnk

# -----------------------------
# Jetbrains IDEs
# -----------------------------
.idea/
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/shelf/
.idea/dictionaries/
# keep these shareable project files (optional) if working in a team
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/runConfigurations/
#!.idea/.name
#!.idea/vcs.xml

# -----------------------------
# Visual Studio IDE
# -----------------------------
.vs

# -----------------------------
# build directories
# -----------------------------
build/
cmake-build-*/
# Projucer files:
Builds/
JuceLibraryCode/

# -----------------------------
# Local libraries (not managed as submodules)
# -----------------------------
libs/sqlite
libs_dsp/
examples/

# -----------------------------
# local only temporary files
# -----------------------------
_local/
*.zip
scripts/skyplot/constellations-borders-0.3.1.parquet
scripts/skyplot/constellations.0.3.3.parquet
scripts/skyplot/de421.bsp
scripts/skyplot/milky_way-0.1.0.parquet
scripts/skyplot/ongc.0.1.2.parquet
scripts/skyplot/stars.bigksy.0.1.3.mag11.parquet
scripts/skyplot/duckdb-extensions/v1.5.4/linux_amd64/spatial.duckdb_extension
scripts/skyplot/duckdb-extensions/v1.5.4/linux_amd64/spatial.duckdb_extension.info
